<%= form_with(model: loja) do |form| %>
  <% if loja.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loja.errors.count, "error") %> prohibited this loja from being saved:</h2>

      <ul>
        <% loja.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :abertura %>
    <%= form.time_field :abertura, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :fechamento %>
    <%= form.time_field :fechamento, class: "form-control" %>
  </div>

  <br/>
  
  <div class="text-center">
    <%= form.submit class: "btn btn-outline-dark" %>
  </div>
<% end %>
