<%= form_with(model: entregador) do |form| %>
  <% if entregador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entregador.errors.count, "error") %> prohibited this entregador from being saved:</h2>

      <ul>
        <% entregador.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :telefone %>
    <%= form.text_field :telefone %>
  </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
