<h2 class="text-center">Entrar</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field form-group">
    <br/>
    <%= f.text_field :cpf, autofocus: true, autocomplete: "cpf", class: "form-control", placeholder: "CPF" %>
  </div>

  <div class="field form-group">
    <br/>
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Senha" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field form-group">
      <%= f.check_box :remember_me %>
      <%= f.label "Lembrar-se de mim" %>
    </div>
  <% end %>
  <br/>

  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-outline-dark" %>
  </div>
  <br/>
<% end %>


<%= render "users/shared/links" %><br/>
<div class="actions">
  <%= link_to 'Home', root_path, class: "btn btn-outline-dark" %>
</div>
