<h1 class="text-center">Administradores</h1>

<table class="table bg-dark">
  <thead class="text-center table-dark">
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>CPF</th>
      <th>Telefone</th>
    </tr>
  </thead>
  <tbody>
    <% @adms.each do |adm| %>
      <tr class="text-center table-warning">
        <td><%= adm.nome %></td>
        <td><%= adm.email %></td>
        <td><%= adm.cpf %></td>
        <td><%= adm.telefone %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Novo Administrador", new_user_registration_path, class: "btn btn-outline-dark" %>
<%= link_to "Back", root_path, class: "btn btn-outline-dark" %>
