<h1 class="text-center">Clientes</h1>

<table class="table bg-dark">
  <thead class="text-center table-dark">
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>CPF</th>
      <th>Telefone</th>
    </tr>
  </thead>
  <tbody>
    <% @clientes.each do |cliente| %>
      <tr class="text-center table-warning">
        <td><%= cliente.nome %></td>
        <td><%= cliente.email %></td>
        <td><%= cliente.cpf %></td>
        <td><%= cliente.telefone %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Novo Cliente", new_user_registration_path, class: "btn btn-outline-dark" %>
<%= link_to "Back", root_path, class: "btn btn-outline-dark" %>
