<%= form_with(model: sabor) do |form| %>
  <% if sabor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sabor.errors.count, "error") %> prohibited this sabor from being saved:</h2>

      <ul>
        <% sabor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">

    <%= form.text_field :descricao, class: "form-control", placeholder: "Descrição" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :preco, class: "form-control", placeholder: "Preço" %>
  </div>

  <div class="actions form-group">
    <%= form.submit class: "btn btn-outline-dark" %>
  </div>
<% end %>
