<h1>Sabors</h1>
<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Preco</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @sabors.each do |sabor| %>
      <tr>
        <td><%= sabor.descricao %></td>
        <td><%= sabor.preco %></td>
        <td><%= link_to 'Show', sabor %></td>
        <td><%= link_to 'Edit', edit_sabor_path(sabor), id:"e-#{sabor.descricao}" %></td>
        <td><%= button_to 'Destroy', sabor, method: :delete, data: { confirm: 'Are you sure?' }, id:"a-#{sabor.descricao}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Sabor', new_sabor_path %> |
<%= link_to 'Home', root_path %>
