<h1 class="text-center">Sabors</h1>
<table class="table bg-dark">
  <thead class="text-center table-dark">
    <tr>
      <th>Descricao</th>
      <th>Preco</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @sabors.each do |sabor| %>
      <tr class="text-center table-warning">
        <td><%= sabor.descricao %></td>
        <td><%= sabor.preco %></td>
        <td><%= link_to 'Show', sabor, class: "btn btn-outline-dark" %></td>
        <td><%= link_to 'Edit', edit_sabor_path(sabor), id:"e-#{sabor.descricao}", class: "btn btn-outline-dark" %></td>
        <td><%= button_to 'Destroy', sabor, method: :delete, data: { confirm: 'Are you sure?' }, id:"a-#{sabor.descricao}", class: "btn btn-outline-dark" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Sabor', new_sabor_path, class: "btn btn-outline-dark" %> |
<%= link_to 'Home', root_path, class: "btn btn-outline-dark" %>
