<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @sabor.descricaoSabor %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @sabor.preco %>
</p>

<%= link_to 'Edit', edit_sabor_path(@sabor) %> |
<%= link_to 'Back', sabors_path %>
