<h1>Pizzas</h1>

<table>
  <thead>
    <tr>
      <th>Tamanho</th>
      <th>Fatias</th>
      <th>Preco</th>
      <th>Desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pizzas.each do |pizza| %>
      <tr>
        <td><%= pizza.tamanho %></td>
        <td><%= pizza.fatias %></td>
        <td><%= pizza.preco %></td>
        <td><%= pizza.desc %></td>
        <td><%= link_to 'Show', pizza %></td>
        <td><%= link_to 'Edit', edit_pizza_path(pizza) %></td>
        <td><%= button_to 'Destroy', pizza, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pizza', new_pizza_path %>
