<p id="notice"><%= notice %></p>

<p>
  <strong>Tamanho:</strong>
  <%= @pizza.tamanho %>
</p>

<p>
  <strong>Fatias:</strong>
  <%= @pizza.fatias %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @pizza.preco %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @pizza.desc %>
</p>

<p>
  <% if @pizza.sabor1_id != nil %>
  <strong>Sabor:</strong>
    <%= Sabor.find_by(id: @pizza.sabor1_id).preco%>
  <% end %>  
</p>

<p>
  <% if @pizza.sabor2_id != nil %>
  <strong>Sabor:</strong>
    <%= Sabor.find_by(id: @pizza.sabor2_id).nome %>
  <% end %>  
</p>

<%= link_to 'Edit', edit_pizza_path(@pizza) %> |
<%= link_to 'Back', pizzas_path %>
