<%= form_with(model: pedido) do |form| %>

  <%=  form.fields_for :pizza do |ff| %>
    <div class='field'>
      <% tamanhos = {"Tamanho G" => 1.8, "Tamanho M" => 1.5, "Tamanho P" => 1} %>
      <fieldset>
        <% lista = tamanhos.sort %>
        <% lista.each do |tamanho| %>
          <%= ff.radio_button :tamanho, tamanho[1] %>
          <label for="<%= tamanho[1] %>" ><%= tamanho[0] %> </label>
        <% end %>
      </fieldset>
    </div>

    <div class="field">
      <%= ff.collection_select(:sabor1_id, Sabor.all, :id, :descricao, include_blank: "Escolha um sabor") %>
    </div>

    <div class="field">
      <%= ff.collection_select(:sabor2_id, Sabor.all, :id, :descricao, include_blank: "Escolha um sabor") %>
    </div>
    <br/>

    <div class="field form-group">
      <%= ff.number_field :fatias, disabled: true, class: "form-control", placeholder: "Fatias" %>
    </div>
    <br/>

    <div class="field form-group">
      <%= ff.text_field :preco, disabled: true, class: "form-control", placeholder: "Preço" %>
    </div>
    <br/>

    <div class="field form-group">
      <%= ff.text_area :observacao, class: "form-control", placeholder: "Descrição" %>
    </div>
    <br/>
  <% end %>

  <h1 class="text-center"> Informações do Pedido </h1>
  <% if pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pedido.errors.count, "error") %> prohibited this pedido from being saved:</h2>

      <ul>
        <% pedido.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.collection_select(:endereco_id, current_user.enderecos, :id, :logradouro, include_blank: "Enderecos")%>
  </div>

  <br/>

  <% if current_user.adm? %>
    <div class="field">
      <%= form.collection_select(:entregador_id, Entregador.all, :id, :nome, include_blank: "Entregador")%>
    </div>
  <% end %>


  <div class="field form-group">
    <%= form.text_field :precoTotal, disabled: true, class: "form-control", placeholder: "Preço Total" %>
  </div>


  <div class="field form-group">
    <%= form.number_field :quantidadePizzas, min: 1, max: 10, value: 1, :class => "form-control", include_blank: "Quantidade de Pizzas" %>
  </div>

  <div class="field form-group">
    <%= form.text_area :observacao, class: "form-control", placeholder: "Observação"%>
  </div>

  <div class="field form-group">
    <%= form.text_field :nomeDestinatario,  value: current_user.nome, :class => "form-controller", placeholder: "Nome Destinatário"%>
  </div>

  <div class="field form-group">
    <%= form.text_field :contato, value: current_user.telefone, :class => "form-controller", placeholder: "Contato"%>
  </div>

  <% if current_user.adm? %>
    <div class="field">
      <% status = {"Esperando Visualização" => "Esperando Visualização", "Visto" => "Visto", "Em preparo" => "Em preparo", "Saiu para entrega" => "Saiu para entrega", "Entregue" => "Entregue", "Cancelado" => "Cancelado"} %>
      <fieldset>
        <h5>Status</h5>
        <% lista = status %>
        <% lista.each do |status| %>
          <%= form.radio_button :status, status[1] %>
          <label for="<%= status[1] %>" ><%= status[0] %> </label><br/>
        <% end %>
      </fieldset>
    </div>
  <% end %>

  <div class="text-center">
    <%= form.submit class: "btn btn-outline-dark" %>
  </div>
<% end %>
