<%= form_with(model: pedido) do |form| %>

  <%=  form.fields_for :pizza do |ff| %>
      
    <div class="text-center">
      <% tamanhos = {"Tamanho G" => 1.8, "Tamanho M" => 1.5, "Tamanho P" => 1} %>
      <fieldset>
        <% lista = tamanhos.sort %>
        <% lista.each do |tamanho| %>
          <%= ff.radio_button :tamanho, tamanho[1] %>
          <label for="<%= tamanho[1] %>" ><%= tamanho[0] %> </label>
        <% end %>
      </fieldset>
    </div>


    <div class="text-center">
      <%= ff.label :sabor1 %>
      <%= ff.collection_select(:sabor1_id, Sabor.all, :id, :descricao, include_blank: "Escolha um sabor") %>
    </div>

    <div class="text-center">
      <%= ff.label :sabor2 %>
      <%= ff.collection_select(:sabor2_id, Sabor.all, :id, :descricao, include_blank: "Escolha um sabor") %>
    </div>
    <br/>

    <div class="field">
      <%= ff.label :fatias %>
      <%= ff.number_field :fatias, disabled: true, class: "form-control", placeholder: "Fatias", class: "form-control" %>
    </div>
    <br/>

    <div class="field">
      <%= ff.label :preco %>
      <%= ff.text_field :preco, disabled: true, class: "form-control", placeholder: "Preço", class: "form-control" %>
    </div>
    <br/>

    <div class="field">
      <%= ff.label :desc %>
      <%= ff.text_area :desc, disabled: true, class: "form-control", placeholder: "Descrição", class: "form-control" %>
    </div>
    <br/>
  <% end %>

  <h1 class="text-center"> Informações do Pedido </h1>
  <% if pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pedido.errors.count, "error") %> prohibited this pedido from being saved:</h2>

      <ul>
        <% pedido.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.adm? %>
    <div class="text-center">
      <%= form.label :entregador_id %>
      <%= form.collection_select(:entregador_id, Entregador.all, :id, :nome, include_blank: "Entregador") %>
    </div>
  <% end %>
 

  <div class="field">
    <%= form.label :precoTotal %>
    <%= form.text_field :precoTotal, disabled: true, class: "form-control", placeholder: "Preço Total", class: "form-control" %>
  </div>


  <div class="field">
    <%= form.label :quantidadePizzas %>
    <%= form.number_field :quantidadePizzas, min: 1, max: 10, value: @pedido.quantidadePizzas, :class => "form-controller", disabled: true, class: "form-control", placeholder: "Quantidade de Pizzas", class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :observacao %>
    <%= form.text_area :observacao, class: "form-control", placeholder: "Observação", class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :nomeDest %>
    <%= form.text_field :nomeDest, disabled: true, class: "form-control", placeholder: "Observação", class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label :contato %>
    <%= form.text_field :contato, disabled: true, class: "form-control", placeholder: "Observação", class: "form-control"%>
  </div>

  <% if current_user.adm? %>
    <div class="text-center">
      <% status = {"Esperando Visualização" => "Esperando Visualização", "Visto" => "Visto", "Em preparo" => "Em preparo", "Saiu para entrega" => "Saiu para entrega", "Entregue" => "Entregue", "Cancelado" => "Cancelado"} %>
      <fieldset>
        <h5>Status</h5>
        <% lista = status %>
        <% lista.each do |status| %>
          <%= form.radio_button :status, status[1] %>
          <label for="<%= status[1] %>" ><%= status[0] %> </label><br/>
        <% end %>
      </fieldset>
    </div>
  <% end %>

  <div class="text-center">
    <%= form.submit %>
  </div>
   
<% end %>
