<% if !@pedido.pizza.sabor1_id.nil? && !@pedido.pizza.sabor2_id.nil? %>
  <% s1 = Sabor.find_by(id: @pedido.pizza.sabor1_id)%>
  <% s2 = Sabor.find_by(id: @pedido.pizza.sabor2_id)%>
<% elsif !@pedido.pizza.sabor1_id.nil? && @pedido.pizza.sabor2_id.nil? %>
  <% s1 = Sabor.find_by(id: @pedido.pizza.sabor1_id)%>
<% else %>
  <% s2 = Sabor.find_by(id: @pedido.pizza.sabor2_id)%>
<%end%>

<% e = Endereco.find_by(id: @pedido.endereco_id)%>



<div class="card" style="width: 18rem;">
  <div class="card-body">
  <h5 style="color: #fd7e14" class="card-title">ID: <%= @pedido.id %></h5>
    <h5 style="color: #fd7e14" class="card-title"><%= @pedido.quantidadePizzas %> X </h5>
    <% if !@pedido.pizza.sabor1_id.nil? && !@pedido.pizza.sabor2_id.nil? %>
      <h5 style="color: #fd7e14" class="card-title"><%= s1.descricao %> | <h5 style="color: #fd7e14" class="card-title"><%= s2.descricao %> </h5>
    <% elsif !@pedido.pizza.sabor1_id.nil? && @pedido.pizza.sabor2_id.nil? %>
      <h5 style="color: #fd7e14" class="card-title"><%= s1.descricao %>
    <% else %>
      <h5 style="color: #fd7e14" class="card-title"><%= s2.descricao %>
    <%end%>
    <h6 style="color: #000000" class="card-subtitle mb-2"><%= @pedido.nomeDestinatario %>, <%= @pedido.contato %> </h6>
    <h6 style="color: #000000" class="card-subtitle mb-2">Endereço: <%= @pedido.endereco_id%>-<%= e.logradouro %></h6>
    <%if current_user.adm%>
      <h6 style="color: #000000" class="card-subtitle mb-2"><%= @entregador %></h6>
    <%end%>
    <h6 style="color: #000000" class="card-subtitle mb-2"> Preço total: R$ <%= @pedido.precoTotal %></h6>
    <h6 style="color: #000000" class="card-subtitle mb-2">Observação: <%= @pedido.observacao %></h6>
    <h6 style="color: #000000" class="card-subtitle mb-2"><%= @pedido.status %></h6>
    <%if !current_user.adm && (@pedido.status == "Esperando Visualização" || @pedido.status == "Visto")%>
      <%= link_to 'Edit', edit_pedido_path(@pedido), class:"btn btn-outline-dark" %> |
      <%= link_to 'Destroy', @pedido, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-dark" %> | 
    <%end%>
    <%= link_to 'Voltar', pedidos_path, class:"btn btn-outline-dark" %>  
  </div>
</div>
