<%= form_with(model: endereco) do |form| %>
  <% if endereco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(endereco.errors.count, "error") %> prohibited this endereco from being saved:</h2>

      <ul>
        <% endereco.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.text_field :cep, class: "form-control", placeholder: "CEP" %>
  </div>
  <br/>
  <div class="field form-group">
    <%= form.text_field :cidade, class: "form-control", placeholder: "Cidade" %>
  </div>
  <br/>
  <div class="field form-group">
    <%= form.text_field :bairro, class: "form-control", placeholder: "Bairro" %>
  </div>
  <br/>
  <div class="field form-group">
    <%= form.text_area :logradouro, class: "form-control", placeholder: "Logradouro" %>
  </div>
  <br/>
  <div class="field form-group">
    <%= form.text_area :complemento, class: "form-control", placeholder: "Complemento" %>
  </div>

  <br/>

  <div class="actions">
    <%= form.submit class: "btn btn-outline-dark" %>
  </div>
  <br/>
<% end %>
