<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 style="color: #fd7e14" class="card-title"><%= @endereco.logradouro %></h5>
    <h6 style="color: #000000" class="card-subtitle mb-2"><%= @endereco.cep %></h6>
    <h6 style="color: #000000" class="card-subtitle mb-2"><%= @endereco.cidade %></h6>
    <h6 style="color: #000000" class="card-subtitle mb-2"><%= @endereco.bairro %></h6>
    <h6 style="color: #000000" class="card-subtitle mb-2"><%= @endereco.complemento %></h6>
    <%= link_to 'Editar', edit_endereco_path(@endereco), class:"btn btn-outline-dark" %> 
    <%= link_to 'Voltar', enderecos_path, class:"btn btn-outline-dark" %>  
  </div>
</div>
