<nav class="navbar navbar-dark bg-dark">
    <%= link_to 'Pizza Delivery System', root_path, class: "navbar-brand", style: "color: #FF5700" %>    

    <% if user_signed_in? %>
            <li><%= link_to 'Editar login', edit_user_registration_path, class: "navbar-brand", style: "color: #FF5700"%></li>
            <li><%= link_to 'Sair', destroy_user_session_path, method: :delete, class: "navbar-brand", style: "color: #FF5700"%></li>
    <%else%>
            <li><%= link_to 'Logar', new_user_session_path, class: "navbar-brand", style: "color: #FF5700"%></li>
            <li><%= link_to 'Cadastrar-me', '/signup', class: "navbar-brand", style: "color: #FF5700"%></li>
    <%end%>

</nav>